<h1><%= @post.title %></h1>

<form method="post">
  <p>
    <textarea style="width:100%" name="data" rows="20"><%= @post.dump %></textarea>
  </p>
  <p>
    <input type="submit" value="Save"/>
  </p>
</form>

<% if @post.type == 'md' %>
  <script type="text/javascript">
    wmd_options = { output: "Markdown" };
  </script>
  <script type="text/javascript" src="/assets/wmd/wmd.js"></script>
<% end %>
