body {
    font-size: 80%;
    color: #222;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #444;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

a {
    color: #444;
}

a:visited {
    color: #444;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 { font-size: 2em; line-height: 1; margin-top: 1em; margin-bottom: 1em; }
h2 { font-size: 1.5em; margin-top: 0.75em; margin-bottom: 0.75em; }
h3 { font-size: 1.3em; line-height: 1; margin-top: 1.7em; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-top: 1.25em; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

blockquote {
    border-top: 3px double #666;
    border-bottom: 3px double #666;
    padding: 5px;
    font-style: oblique;
    margin-left: 5%;
    margin-right: 5%;
}
