
.comments {
    margin-bottom: 2em;
}

.comments .comment, .preview .comment {
    margin-top: 2em;
    border: 1px solid #ccc;
}

.comments .comment .top, .preview .comment .top  {
    background: #F0F0F0;
    color: #333;
    padding: 3px 5px;
}

.comments .comment .body, .preview .comment .body {
    background: #F8F8F8;
    padding: 3px 5px;
}
