
.diff {
    margin: 1em 0;
    font-family: monospace;
    border: 1px solid #ddd;
    background: #eee;
}

.diff .path {
    color: blue;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.diff .line {
    padding-left: 1em;
}

.diff .added { 
    background: #dfd;
}

.diff .deleted { 
    background: #fdd;
}
