input, legend, select, textarea {
    background: #fff;
    border: 1px solid #aaa;
    padding: 2px 4px;
}

fieldset {
    background: #eee;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    padding: 9px 9px 19px 9px;
}
