/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
   
   Based on work by:
   * Nathan Borror     [playgroundblues.com]
   * Jeff Croft        [jeffcroft.com]
   * Christian Metts   [mintchaos.com]
   * Wilson Miner      [wilsonminer.com]
   * Richard Rutter    [clagnut.com]
   
   Read more about using a baseline here:
   * alistapart.com/articles/settingtypeontheweb
   
   */

/* This is where you set your desired font size. The line-heights 
   and vertical margins are automatically calculated from this. 
   The percentage is of 16px (0.75 * 16px = 12px). */

body {
    font-size: 80%;
    color: #222;
    font-family: Arial, sans-serif; 
}

code { 
    background: #f0f0f0;
}

h1,h2,h3,h4,h5,h6 { 
    color: #369; 
    font-family: Arial, sans-serif; 
    font-weight: bold;
}

a {
    color: #369;
}

a:visited {
    color: #369;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h1 { font-size: 2em; line-height: 1; margin-top: 0.5em; margin-bottom: 0.5em; }
h2 { font-size: 1.5em; margin-top: 0.75em; margin-bottom: 0.75em; }
h3 { font-size: 1.3em; line-height: 1; margin-top: 1em; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-top: 1.25em; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }




