<% for comment in @comments %>
  <div class="comment">
    <div class="top">
      <%= comment.website.empty? ? comment.name : link_to(comment.name, comment.website) %> said
      <%= distance_of_time_in_words(comment.time, Time.now, true) %> ago:
    </div>
    <div class="body">
      <%= markdown(comment.text, :filter_html, :filter_styles) %>
    </div>
  </div>
<% end %>
