<h1><%= @name %></h1>

<div class="articles">
  <% for post in @posts[0, 20] %>
    <div class="article">
      <div class="date"><%= human_date post.date %></div>
      <h2><%= post_link post %></h2>
      <%= post.summary %>
    </div>
    <hr/>
  <% end %>
</div>
