<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @blog_title %> - <%= @title %></title>
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/index.rss" />
    <%= stylesheet_link_tag :reset, :grid, :typography, :style, 'highlight/default' %>
    <script>var guid = '<%= @guid %>';</script>
  </head>
  <body>
    <div class="container">

      <div id="header" class="column span-20 last">
	<h1><a href="/"><%= @blog_title %></a></h1>
	<h2><%= @blog_description %></h2>
      </div>

      <div id="navi"  class="column span-20 last">
	<%= navi_link 'Home', '/' %>
	<% for category in @categories %>
	  <%= navi_link category, "/categories/#{category.downcase}.html" %>
	<% end %>
	<%= navi_link 'About', '/about.html' %>
      </div>

      <div id="header-text" class="column span-20 last">
	<h1><%= @header %></h1>
      </div>

      <div class="content column span-15"> 
	<%= @content %>
      </div>

      <div class="right column span-5 last"> 	
	<h4>Subscribe</h4>
	<p>
	  <%= link_to 'Subscribe RSS', '/index.rss' %>
	</p>

	<h4>About</h4>
	<h4>Archives</h4>
	<ul>
	  <% for year, month in @months %>
	    <li><%= archive_link year, month %></li> 
	  <% end %>
	</ul>
      </div>
    </div>

    <%= javascript_tag 'jquery', 'jquery-form', 'template', 'prettyDate', 'highlight', 'comments', 'wmd' %>

    <script type="text/javascript">
      hljs.initHighlightingOnLoad('ruby', 'html', 'css', 'php', 'javascript', 'sql', 'lisp', 'xml', 'java');
    </script>

  </body>
</html>
