<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @blog.title %></title>
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/index.rss" />
    <link rel="stylesheet" media="screen" type="text/css" href="/assets/stylesheets.css" />
    <link rel="stylesheet" media="print" type="text/css" href="/assets/print.css" />
  </head>
  <body>
    <div class="container">
      <h3><a href="/"><%= @blog.title %></a> - <%= @blog.description %></h3>

      <span>
        <%= link_to 'Home', '/' %> -
        <%= link_to 'About', '/about' %> -
        <%= link_to 'Subscribe RSS', '/index.rss' %>
      </span>

      <span style="margin-left:1em">
	Categories:
	<%= link_to 'Ruby', '/categories/ruby' %> -
	<%= link_to 'Javascript', '/categories/javascript' %>
      </span>

      <% if session[:admin] %>
	<hr/>
	<div>
	  Admin:
          <%= link_to 'Posts', '/admin/posts/' %> -
          <%= link_to 'Pages', '/admin/pages' %> -
          <%= link_to 'Commits', '/admin/commits' %>
	  <% if @post %> - <%= link_to 'Edit post', "/admin/edit/#{@post.path}" %><% end %>
	</div>
      <% end %>

      <hr/>

      <%= @content %>

      <p>
	Archive:
        <% for year, month in @blog.archives %>
          <%= archive_link year, month %>
        <% end %>
      </p>

      <% if @blog.aggregations['flickr'] %>

        <h4>Interesting Art @ Flickr</h4>

        <p>
          <% for pic in @blog.aggregations['flickr'].pics %>
            <a href="<%= pic.link %>">
              <img alt="<%= pic.title %>" src="<%= pic.thumbnail %>" width="45" height="45" />
            </a>
          <% end %>
        </p>

      <% end %>

      <% if @blog.aggregations['delicious'] %>

        <h4>Ruby @ Delicious</h4>

        <ul>
          <% for item in @blog.aggregations['delicious'].items %>
            <li>
              <%= link_to item.title, item.link %>
            </li>
          <% end %>
        </ul>

      <% end %>

      <script type="text/javascript" src="/assets/javascripts.js"></script>

    </div>
  </body>
</html>
