<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @blog.title %></title>
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= @blog.base_path %>/index.rss" />
    <link rel="stylesheet" media="screen" type="text/css" href="<%= @blog.base_path %>/styles.css" />
    <%= variables_script_tag %>
  </head>
  <body>
    <div class="container">
      <h3><a href="<%= @blog.base_path %>/"><%= @blog.title %></a> - <%= @blog.description %></h3>

      <nav class="menu">
        <%= link_to 'Home', "#{@blog.base_path}/" %>
        <%= link_to 'About', "#{@blog.base_path}/about" %>
        <%= link_to 'GitHub Pages Guide', "#{@blog.base_path}/github-pages-guide" %>
        <%= link_to 'React Demo', "#{@blog.base_path}/react-demo" %>
        <%= link_to 'TypeScript Demo', "#{@blog.base_path}/typescript-demo" %>
        <%= link_to 'HF OAuth Demo', "#{@blog.base_path}/hf-oauth-demo" %>
        <%= link_to 'Subscribe RSS', "#{@blog.base_path}/index.rss" %>
        <%= link_to 'GitHub', "https://github.com/georgi/shinmun" %>
      </nav>

      <%= @content %>

      <hr/>

      <p>
        <h4>Categories</h4>
        <ul>
          <li><%= link_to 'Ruby', "#{@blog.base_path}/categories/ruby" %></li>
          <li><%= link_to 'Javascript', "#{@blog.base_path}/categories/javascript" %></li>
        </ul>
      </p>

      <p>
        <h4>Archive</h4>
        <ul>
          <% for year, month in @blog.archives %>
            <li><%= archive_link year, month %></li>
          <% end %>
        </ul>
      </p>

    </div>
  </body>
</html>
