<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= @blog.title %></title>
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/index.rss" />
    <link rel="stylesheet" media="screen" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h3><a href="/"><%= @blog.title %></a> - <%= @blog.description %></h3>

      <div class="menu">
        <%= link_to 'Home', '/' %> -
        <%= link_to 'About', '/about' %> -
        <%= link_to 'Subscribe RSS', '/index.rss' %>
      </div>

      <%= @content %>

      <hr/>

      <p>
        <h4>Categories</h4>
        <ul>
          <li><%= link_to 'Ruby', '/categories/ruby' %></li>
          <li><%= link_to 'Javascript', '/categories/javascript' %></li>
        </ul>
      </p>

      <p>
        <h4>Archive</h4>
        <ul>
          <% for year, month in @blog.archives %>
            <li><%= archive_link year, month %></li>
          <% end %>
        </ul>
      </p>

    </div>
  </body>
</html>
